<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated moda -->
      <package
            uri="http://www.diverse.fr/moda"
            class="fr.diverse.moda.model.moda.ModaPackage"
            genModel="model/moda.genmodel"/>
   </extension>

</plugin>
